.DS_Store

.idea/
*.iml

build/
.gradle/
.gradle-local/
out/

*.class
*.jar
*.war
*.nar
*.ear

*.log
hs_err_pid*
replay_pid*

.burpia.json
BurpIA.zip
build-jar.sh
build.gradle
/docs
/gradle
gradlew
/src/test
/src/test
*.gradle
